<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Include Bootstrap CSS -->
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
    <title>Bobcat Hub!</title>
    <!-- Add favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/icons/icon-cat.png' %}">
  </head>

  <body>
    {% include 'navbar.html' %}

      <!-- Help Icon -->
      <div class="help-icon">
        <img src="{% static 'images/help-icon.png' %}" alt="Help">
    </div>

    <div class="alert-container">
      {% if messages %} {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
      </div>
      {% endfor %} {% endif %}
    </div>

    {% block content %} {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
    <script>
      // Close alert on button click
      const alertCloseButtons = document.querySelectorAll('.alert .btn-close');
      alertCloseButtons.forEach(button => {
        button.addEventListener('click', e => {
          e.target.parentElement.style.display = 'none';
        });
      });

      // Automatically close all alerts after 5000 milliseconds
      setTimeout(() => {
        const alerts = document.querySelectorAll('.alert');
        alerts.forEach(alert => {
          alert.style.display = 'none';
        });
      }, 5000);
    </script>
  </body>
</html>
