{% load static %} {% for room in rooms %}
<div class="roomListRoom">
  <div class="roomListRoom__header">
    <a href="{% url 'user-profile' room.host.id %}" class="roomListRoom__author">
      <div class="avatar avatar--small">
        <img src="{{room.host.avatar.url}}" />
      </div>
      <span>@{{room.host.username}}</span>
    </a>
    <div class="roomListRoom__actions">
      <span>{{room.created|timesince}} ago</span>
    </div>
  </div>
  <div class="roomListRoom__content">
    <a href="{% url 'room' room.id %}">{{room.name}}</a>
  </div>
  <div class="roomListRoom__meta">
    <div class="roomListRoom__votes">
      <button onclick="location.href='{% url 'upvote_room' room.id %}'">
        <img src="{% static 'images/icons/upvote.svg' %}" alt="Upvote" style="width: 20px" />
      </button>
      <span>{{ room.upvotes.count }}</span>
      <button onclick="location.href='{% url 'downvote_room' room.id %}'">
        <img src="{% static 'images/icons/downvote.svg' %}" alt="Downvote" style="width: 20px" />
      </button>
      <span>{{ room.downvotes.count }}</span>
    </div>
    <p class="roomListRoom__topic">{{room.topic.name}}</p>
  </div>
</div>
{% endfor %}
