{% extends 'main.html' %} {% block content %}

<div class="container">
  <div class="layout__box modal hidden">
    <div class="layout__boxHeader">
      <div class="layout__boxTitle " >
        <h3>Login</h3>
      </div>
    </div>
    <div class="layout__body">
      <h2 class="auth__tagline">Welcome Bobcat!</h2>

      <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class="form__group form__group">
          <label for="room_name">Email</label>
          <input id="username" name="email" type="email" placeholder="e.g. dennis_ivy@email.com" />
        </div>
        <div class="form__group">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" />
        </div>

        <button class="btn btn--main" type="submit" style="width: 100%; display: flex; justify-content: center">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
            <title>lock</title>
            <path
              d="M27 12h-1v-2c0-5.514-4.486-10-10-10s-10 4.486-10 10v2h-1c-0.553 0-1 0.447-1 1v18c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-18c0-0.553-0.447-1-1-1zM8 10c0-4.411 3.589-8 8-8s8 3.589 8 8v2h-16v-2zM26 30h-20v-16h20v16z"></path>
            <path
              d="M15 21.694v4.306h2v-4.306c0.587-0.348 1-0.961 1-1.694 0-1.105-0.895-2-2-2s-2 0.895-2 2c0 0.732 0.413 1.345 1 1.694z"></path>
          </svg>

          Login
        </button>
      </form>

      <div class="auth__action">
        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}" class="btn btn--link">Sign Up</a>
      </div>
    </div>
  </div>
</div>







<div class="helpcontainer">
  <div class="layout__box helpmodal hidden">
    <div class="layout__boxHeader">
      <div class="layout__boxTitle " >
        <h3>Help</h3>
      </div>
    </div>
    <div class="layout__body">
      <!-- <h2 class="auth__tagline">This is a help modal!</h2> -->
  
      <div class="faq__section">
          <h3 class="faq__question">How do I report a technical issue with the website?</h3>
          <p class="faq__answer">If you encounter a technical issue with the website or online tools, please report it to the IT by emailing us at <i>help@bobcathub.com</i>. Provide as much detail as possible about the issue, including any error messages you may have received.</p>
      </div>
    
      <div class="faq__section">
          <h3 class="faq__question">What should I do if I forgot my student ID or password?</h3>
          <p class="faq__answer">If you forgot your student ID or password, please contact the school's IT department or the administrative office. They will assist you in recovering or resetting your credentials.</p>
      </div>
  
      <div class="faq__section">
        <h3 class="faq__question">What resources are available for academic support?</h3>
        <p class="faq__answer">The school offers various resources for academic support, including tutoring services, writing centers, and study groups. </p>
    </div>
  
  </div>

      
    </div>
  </div>
</div>





<main class="layout layout--3">
  <div class="container">
    <!-- Topics Start -->
    {% include 'base/topics_component.html' %}

    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="mobile-menu">
        <form action="{% url 'home' %}" method="GET" class="header__search">
          <label>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>search</title>
              <path
                d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"></path>
            </svg>
            <input name="q" placeholder="Search for posts" />
          </label>
        </form>
        <div class="mobile-menuItems">
          <a class="btn btn--main btn--pill" href="{% url 'topics' %}">Browse Majors</a>
          <a class="btn btn--main btn--pill" href="{% url 'activity' %}">Recent Activities</a>
        </div>
      </div>

      {% include 'base/feed_component.html' %}
    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
    {% include 'base/activity_component.html' %}

    <!-- Activities End -->
  </div>
</main>

{% endblock %}
