<div class="topics">
  <div class="topics__header">
    <h2>Browse Majors</h2>
  </div>
  <ul class="topics__list light-background">
    <li>
      <a href="{% url 'home' %}" class="{% if request.path == '/' and not request.GET.q %}active{% endif %}"
        >All <span>{{topics.count}}</span></a
      >
    </li>
    {% for topic in topics %}
    <li>
      <a href="{% url 'home' %}?q={{topic.name}}" class="{% if request.GET.q == topic.name %}active{% endif %}"
        >{{topic.name}}<span>{{topic.room_set.all.count}}</span></a
      >
    </li>
    {% endfor %}
  </ul>
</div>
